@import url('https://fonts.googleapis.com/css2?family=GFS+Neohellenic:wght@400;700&display=swap');

/* Bigger checkbox */
.form-check-input {
    width: 1.5rem;
    height: 1.5rem;
    margin-top: 0.2rem;
    cursor: pointer;
}

/* Green when checked */
.form-check-input:checked {
    background-color: #198754;
    border-color: #198754;
}

/* Nice focus effect */
.form-check-input:focus {
    box-shadow: 0 0 0 .25rem rgba(25, 135, 84, .25);
}

/* Larger label */
.form-check-label {
    font-size: 1.05rem;
    font-weight: bold;
    margin-left: .4rem;
    margin-top: 0.2rem;
    padding-top: 0;
}

.datepicker[readonly], .datetimepicker[readonly] {
  background-color: #fff !important;
  opacity: 1 !important;
  cursor: pointer;
}

.datepicker:disabled, .datetimepicker:disabled {
  background-color: #e9ecef !important;
  opacity: 1 !important;
  cursor: not-allowed;
}

.btn.submit-app-button {
  font-weight: bolder;
  padding: 1.5rem;
  margin: 1.5rem;
  font-size: 1.5rem;
}

.li-error {
  font-weight: bold;
  padding: 0.5rem;
}

.li-info {
  padding: 0.5rem;
}

.p-result {
  font-weight: bold;
  padding: 0.5rem;
}

.nav-link-icon {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  font-weight: bold;
  gap: 4px;
}

body {
    padding: 0;
    margin: 0;
    background: #f2f6e9;
    font-family: 'GFS Didot', serif;
  }

.dev-warning {
  font-size: 10pt;
  margin: 10px;
  padding: 3px;
  align-items: center;
  text-align: center;

}

.userinfo {
  display: inline-flex;
  gap: 4px;
  align-items: center;
  color: white;
  font-size: 14px;
  font-family: monospace;
}

.select2-search {
  font-size : 12px;
}
label {
  padding-top: 20px;
}
  .navbar {
    background: #09f;
  }


.btn-language {
   font-weight: bold;
   padding: 0.2rem;
   min-width: 150px;
   background-color: blue;
   color: white;
}

.btn-language:hover {
  font-weight: bold;
  color: white;
}

.btn {
  font-size: 11pt;
  padding: 6px;
  border-radius: .3rem;
}


  .navbar-text-username {
    color: #fff;
    padding-left: 10px;
  }

  .tablebutton {
    color: #fff;
    padding: 2px;
    font-size: small;
    margin: 3px;
  }

  .button-menu {
    margin: 4px;
    color: #fff;
  }

  .button-table {
    margin: 1px;
    font-size: small;
    color: #fff;
  }

  .nav-link,
  .navbar-brand {
    color: #fff;
    cursor: pointer;
  }

  h2, h3, h4, h5, h6, h7 {
    color: blue;
    margin-bottom: 16px;
  }

  .stats p {
    display: block;
    margin: 0;
  }

  .nav-link a {
    color: #fff;
    cursor: pointer;
    padding-left: 6px;
    padding-right: 6px;
  }
  .navbar-brand p {
    color: #000;
  }

  .nav-link {
    margin-right: 1em !important;
  }

  .nav-link:hover {
    color: #000
  }

  .navbar-collapse {
    justify-content: flex-end;
  }

  .navbar-username {
    color: #fff;
  }

  .login-div {
    max-width: 1400px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
  }
  .nav-link.sidelink {
    color: #00f;
    text-decoration: underline;
    font-weight: bold;
  }

  .nav-link.sidelink:hover {
    color: #00a;
  }

  .app-div {
    color: #0d6efd;
    border: 1px dashed #0d6efd;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 0.3rem;
    font-size: 11pt;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    min-width: 250px;
  }

  .submit-app-div {
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 0.3rem;
    font-size: 11pt;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    min-width: 250px;
    font-weight: bold;
  }

  .submit-app-div {
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 0.3rem;
    font-size: 11pt;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    min-width: 250px;
    font-weight: bold;
  }

  .landing-button-col {
    padding: 0.5em;
  }

  .landing-button {
    min-width: 200px;
    font-weight: bold;
  }

  .submit-button {
    font-weight: bold;
    margin: 12px;
  }


  .login-button {
    font-weight: bold;
    min-width: 13rem;
    font-size: 10pt;
    margin: 12px;
    display: inline-flex;
    align-items: center;      /* vertical centering */
    gap: 0.25rem;
   }

  .file-button {
    min-width: 200px;
    font-weight: bold;
    margin: 10px;
  }

  .header {
    background-image: url('images/hua2.jpg');
    background-size: cover;
    background-position: center;
    position: relative;

  }

  .back-button {
    margin-bottom: 20px;
  }

  .overlay {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.8);
  }

  .description {
    left: 50%;
    position: absolute;
    top: 45%;
    transform: translate(-50%,-65%);
    text-align: center;
  }

  .description h1 {
    color: #0055ff;
  }

  .description p {
    color: #fff;
    font-size: 1.3rem;
    line-height: 1.5;
  }

  .description button {
    border: 1px solid #6ab466;
    background: #6ab446;
    border-radius: 0;
    color: #fff;
  }

  .description button:hover {
    border: 1px solid #fff;
    background: #fff;
    border-radius: 0;
    color: #000;
  }

  .features {
    margin: 4em auto;
    padding: 1em;
    position: relative;
    font-size: 1.0rem;
  }

  .feature-title {
    color: #333;
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: 20px;
    text-transform: uppercase;
    text-align: center;
  }

  .features img {
    -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    margin-bottom: 16px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 60%;
  }

  .textinput, .emailinput, .dateinput {
    margin-bottom: 0.8rem;
  }
  .login-box {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.0rem;
    line-height: 1.1;
    text-align: left;
    font-weight: bold;
  }


  .register-box {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    font-size: 0.9rem;
    line-height: 1.1;
    text-align: left;
    font-weight: bold;
  }

  .register-box th,
  .register-box td {
    padding-left: 15px;
    padding-right: 15px;
  }

  .login-form {
    font-size: 1.0rem;
    height: 1.6rem;
  }
  .login-box p {
    text-align: center;
    font-weight: bold;
    font-size: 0.9rem;
  }

  .forgot-create {
    line-height: 1.4rem;
  }
  .btn {
      display: inline-flex;
      align-items: center;      /* vertical centering */
      justify-content: center;
      gap: 0.25rem;
  }
  .btn-login {
     font-variant: small-caps;
     font-weight: bold;
     padding-top: 0.2rem;
  }

  .login-label {
    color: #fff;
    font-size: 11pt;
  }

  .email-message {
    color: #000;
    line-height: 200%;
  }

  .title-message {
    color: #000;
    line-height: 200%;
    text-align: center;
    font-weight: bold;
  }

  .page-footer {
    background-color: #222;
    color: #ccc;
    padding: 60px 0 30px;
  }
  .footer-copyright {
    color: #666;
    padding: 40px 0;
  }

    .mto {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 20px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  padding: 0;
  margin: 0;
  }

  /* Styles for autocomplete.ModelSelect2() */
  .bootstrap5-autocomplete + .select2-container .select2-selection--single {
    padding-left: 5px;
  }

  .bootstrap5-autocomplete + .select2-container .select2-selection--single .select2-selection__rendered {
    padding-left: 5px;
  }
  /* ... End of styles for autocomplete.ModelSelect2() */

  /* Styles for autocomplete.ModelSelect2Multiple() */
  .select2-selection--multiple.modelselect2multiple {
    padding-left: 5px !important;
    padding-right: 36px !important;
}

  ul.select2-selection__rendered {
    padding-left: 0 !important;
    padding-top: 6px !important;
  }

  input[aria-autocomplete="list"] {
    width: 100% !important;
    font-family: inherit !important;
    font-weight: 400 !important;
    font-size: 1rem !important;
    padding-left: 5px !important;
  }
  /* ... End of styles for autocomplete.ModelSelect2Multiple() */