# Postgres
POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=mypass

# Ldap auth
AUTH_LDAP_BIND_DN=uid=user,ou=People,dc=example,dc=com
AUTH_LDAP_BIND_PASSWORD=myldappass
AUTH_LDAP_SERVER_URI=ldap://example.com

# CAPTCHA
RECAPTCHA_PUBLIC_KEY="mypublickey"
RECAPTCHA_PRIVATE_KEY="myprivatekey"