{% load core_tags %}
{% load i18n %}
<script>
    $(document).ready(function () {
        $('#{{ table_id }}').DataTable({
                "lengthChange": false,
                "pageLength": {{ page_length }},
                "order": {{ order|safe }},
                language: {
                    search: "{% trans 'Αναζήτηση' %}",
                    info: "_START_ - _END_ ({% trans 'σύνολο:' %} _TOTAL_ {% trans 'εγγραφές' %})",
                    paginate: {
                        previous: "{% trans 'Προηγούμενο' %}",
                        next: "{% trans 'Επόμενο' %}",
                    }
                }
            }
        );
    });
</script>

<div class="row">
    <div class="col">
        <h3> {{ table_title }}</h3>
    </div>
    {% if create_button %}
        <div class="d-flex justify-content-end">
            {% if next %}
                <a href="{{ create_url }}?next={{ next }}" class="{{ create_button_class }}">
                    <span class="mto">{{ create_button_icon }}</span> {{ create_text }}
                </a>
            {% else %}
                <a href="{{ create_url }}" class="{{ create_button_class }}">
                    <span class="mto">{{ create_button_icon }}</span> {{ create_text }}
                </a>
            {% endif %}
        </div>
    {% endif %}
</div>
<br>
{% if objects %}
    <table id="{{ table_id }}">
        <thead>
        <tr>
            {% for field in fields %}
                <th>
                    {{ headers|get_item:field }}
                </th>
            {% endfor %}
            {% if update_buttons %}
                <th></th>
            {% endif %}
            {% if extra_buttons %}
                <th></th>
            {% endif %}
            {% if extra_buttons2 %}
                <th></th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for object in objects %}
            <tr>
                {% for field in fields %}
                    <td>
                        {{ object|get_attr:field }}
                    </td>
                {% endfor %}

                {% if update_buttons %}
                    <td style="text-align: right;">
                        {% if not object.display_invitation_buttons %}
                            <span class="text-muted">Έχετε απαντήσει !</span>
                            {% if next %}
                                <a href="#?next={{ next }}" class="{{ update_button_class }} change_reply_button"
                                   data-bs-toggle="modal"
                                   data-bs-target="#changeReplyModal"
                                   data-present-url="{{ object.present_url }}?next={{ next }}"
                                   data-absent-url="{{ object.absent_url }}?next={{ next }}">
                            {% else %}
                                <a href="#" class="{{ update_button_class }} change_reply_button"
                                   data-bs-toggle="modal"
                                   data-bs-target="#changeReplyModal"
                                   data-present-url="{{ object.present_url }}"
                                   data-absent-url="{{ object.absent_url }}">
                            {% endif %}
                        <span class="mto">{{ update_button_icon }}</span>
                        {{ update_text }}</a>
                        {% endif %}
                    </td>
                {% endif %}
                {% if extra_buttons %}
                    <td style="text-align: right;">
                        {% if object.display_invitation_buttons %}
                            {% if next %}
                                <a href="{{ object.extra_url }}?next={{ next }}" class="{{ extra_button_class }}">
                            {% else %}
                                <a href="{{ object.extra_url }}" class="{{ extra_button_class }}">
                            {% endif %}
                        <span class="mto">{{ extra_button_icon }}</span>
                        {{ extra_text }}</a>
                        {% endif %}
                    </td>
                {% endif %}
                {% if extra_buttons2 %}
                    <td style="text-align: right;">
                        {% if object.display_invitation_buttons %}
                            {% if next %}
                                <a href="{{ object.extra_url2 }}?next={{ next }}" class="{{ extra_button_class2 }}">
                            {% else %}
                                <a href="{{ object.extra_url2 }}" class="{{ extra_button_class2 }}">
                            {% endif %}
                        <span class="mto">{{ extra_button_icon2 }}</span>
                        {{ extra_text2 }}</a>
                        {% endif %}
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <p> {{ empty_text }}</p>
{% endif %}

<div class="modal fade" id="changeReplyModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">{{ confirm_modal_title }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <div class="modal-body">
                {{ confirm_modal_question }}
            </div>

            <div class="modal-footer">
                <a class="btn btn-danger" id="confirmAbsentBtn">
                    <span class="mto">cancel</span>
                    {{ confirm_modal_cancel }}
                </a>
                <a class="btn btn-success" id="confirmPresentBtn">
                    <span class="mto">check_circle</span>
                    {{ confirm_modal_ok }}
                </a>
            </div>

        </div>
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {

        // ===== Change Reply to Inivitation =====
        const button = document.getElementById("changeReplyButton");
        const modal = new bootstrap.Modal(
            document.getElementById("changeReplyModal")
        );
        const confirmPresentBtn = document.getElementById("confirmPresentBtn");
        const confirmAbsentBtn = document.getElementById("confirmAbsentBtn");


        let changeConfirmed = false;

        document.querySelectorAll(".change_reply_button").forEach(function (button) {
            button.addEventListener("click", function (e) {
                if (!changeConfirmed) {
                    e.preventDefault();

                    confirmPresentBtn.href = button.getAttribute("data-present-url");
                    confirmAbsentBtn.href = button.getAttribute("data-absent-url");

                    modal.show();
                }
            });
        });

        confirmPresentBtn.addEventListener("click", function () {
            changeConfirmed = true;
        });

        confirmAbsentBtn.addEventListener("click", function () {
            changeConfirmed = true;
        });
    });
</script>