{% load core_tags %}
{% load static %}
{% load i18n %}
<script>
    $(document).ready(function () {
        $('#{{ section_id }}').DataTable({
                "lengthChange": false,
                "searching": false,
                "info": false,
                "paging": false,
            }
        );
    });
</script>

<div class="row">
    <div class="col">
        <h3> {{ section_title }}</h3>
    </div>
</div>
<br>
{% if object %}
    <table id="{{ section_id }}">
        <thead>
        <tr>
            {% for field in fields %}
                <th>
                    {{ headers|get_item:field }}
                </th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        <tr>
            {% for field in fields %}
                {% with value=object|get_attr:field %}
                    <td>
                        {% if value|is_image %}
                            {% if value|has_image %}
                                <img src="{{ value.url|default:'' }}"
                                     class="img-thumbnail rounded-circle"
                                     style="width: 100px; height: 100px;"
                                     alt="{{ value.name }}">
                            {% else %}
                                <img src="{% static 'accounts/images/no_pic.png' %}"
                                     class="img-thumbnail rounded-circle"
                                     style="width: 50px; height: 50px;"
                                     alt="images/add_pic.png">
                            {% endif %}
                        {% else %}
                            {{ value }}
                        {% endif %}
                    </td>
                {% endwith %}
            {% endfor %}
        </tr>
        </tbody>
    </table>
{% else %}
    <p> {{ empty_text }}</p>
{% endif %}

<style>
    .img-thumbnail {
        object-fit: cover;
        margin-bottom: 0 !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
</style>